* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
#header{
  z-index: 2;
}
#container{
  z-index: 1;
}
#container111 {
  color: inherit;
  color: #19110b;
  font-family: "Louis Vuitton Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .025rem;
  line-height: 1.5rem;
}

/* ---------- Section Part ------------ */
section {
  margin: 0;
  text-align: center;
}


/* ---------- Video Part ------------ */
#container .videobg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125vh;
  overflow: hidden;
}

#container .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(85%);
}

#container .videobg h2 {
  position: absolute;
  top: 81.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


#container .videobg button {
  position: absolute;
  top: 91%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;

  padding: 15px 40px;
  font-size: 15px;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(45px);
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

#container .videobg button:hover {
  box-shadow: inset 0 0 0 1px white;
}

/* ---------- container11 Part ------------ */
/* .container11 {
  background-color: black;
  position: absolute;
  right: 0;
  top: 1065px;
  right: 920px;
  width: 1px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

#container .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  animation: moveLine 2s linear infinite alternate;
}

@keyframes moveLine {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
} */

/* -----------------pause and mute -------- */
#container i {
  color: white;
  font-size: 21px;
}

#container .icon .fa-pause {
  position: absolute;
  top: 118%;
  left: 50px;
}

#container .icon .fa-volume-xmark {
  position: absolute;
  top: 118%;
  right: 50px;
}

/* -------------- nav part --------- */
#container .navbar {
  background-color: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}

#container .navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0 30px 75px;
}

#container .navbar.scrolled {
  opacity: 1;
}

#container .navbar {
  background: rgba(0, 0, 0, .8);
  border-bottom-color: rgba(255, 255, 255, .1);
}

/* ---------- Content Part ------------ */

#container .content {
  padding: 60px 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
}

#container .content p {
  max-width: 44rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .025rem;
  word-spacing: 7px;
  line-height: 1.5rem;
  text-align: center;
}

/* ---------- Image Part ------------ */

#container .imagebg {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#image1 {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85)), url('../asset/watch/LV-Watch.avif');

  background-size: cover;
  background-position: center;
}

#image2 {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85)), url('../asset/watch/LV-Watch2.webp');

  background-size: cover;
  background-position: center;
}

#image3 {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85)), url('../asset/watch/LV-Watch3.avif');

  background-size: cover;
  background-position: center;
}

#image4 {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85)), url('../asset/watch/LV-Watch4.avif');

  background-size: cover;
  background-position: center;
}

#image5 {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85)), url('../asset/watch/LV-Watch5.webp');

  background-size: cover;
  background-position: center;
}

#container .imagebg h2 {
  position: absolute;
  top: 77.2%;
  left: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

#container .imagebg button {
  position: absolute;
  top: 88%;
  /* left: 50%; */
  left: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  padding: 20px 120px;
  font-size: 20px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(45px);
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

#container .imagebg button:hover {
  box-shadow: inset 0 0 0 1px white;
}

/* ---------- Content Part ------------ */
#container .content2 {
  padding: 60px 0 80px 0;
  background-color: black;
  color: #fff;
}

#container .content2 .discover {
  max-width: 44rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .025rem;
  word-spacing: 7px;
  line-height: 1.5rem;
  text-align: center;
  margin: auto;
}

#container .content2 .discover button {
  padding: 20px 120px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  backdrop-filter: blur(45px);
  /* border: 1px solid white; */
  border: 2px double orangered;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 30px;
}

#container .discover button:hover {
  box-shadow: inset 0 0 0 1px rgb(238, 12, 12);
}

/* ---------- div watchmaking Part ------------ */
#container .watchMaking {
  height: 110vh;
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85)), url('../asset/watch/WatchMaking.avif');

  background-size: cover;
  background-position: center;
}


/* =====================SMALL DEVICES===== */

@media screen and (max-width: 600px) {

  body {
    width: 120vh;
  }

  .videobg {
    height: 225vh;
    width: 125vh;
  }

  .imagebg {
    height: 225vh;
    width: 125vh;
  }

  .videobg h2 {
    top: 79%;
    font-size: 3rem;
    font-weight: 550;
    white-space: nowrap;
  }

  .watchMaking{
    height: 225vh;
    width: 125vh;
  }
  .content{
    width: 125vh;
  }
  .content2{
    width: 125vh;
  }
  .videobg button {
    font-family: jost_light;
    top: 91%;
    left: 50%;
    padding: 38px 145px;
    font-size: 2rem;
    font-weight: 100;
    white-space: nowrap;
    backdrop-filter: blur(100px);
    border-radius: 100px;
    border: 2px solid white;
  }

  #h2-1-imagebg {
    font-family: jost_light;
    top: 72%;
    font-size: 3.5rem;
    white-space: nowrap;
  }

  .imagebg button {
    font-family: jost_light;
    top: 89%;
    padding: 38px 145px;

    font-size: 3rem;
    font-weight: 100;
    white-space: nowrap;

    backdrop-filter: blur(100px);
    border-radius: 100px;
    border: 2px solid white;
  }
}

/* ---------------main-------------------- */


#image1 button{
  background-image: url(../asset/watch/LV-Watch.avif);
  background-size: cover;
  background-position: center;
  color: #fff;
}
#image2 button{
  background-image: url(../asset/watch/LV-Watch2.webp);
  background-size: cover;
  background-position: center;
  color: #fff;
}
#image3 button{
  background-image: url(../asset/watch/LV-Watch3.avif);
  background-size: cover;
  background-position: center;
  color: #fff;
}
#image4 button{
  background-image: url(../asset/watch/LV-Watch4.avif);
  background-size: cover;
  background-position: center;
  color: #fff;
}
#image5 button{
  background-image: url(../asset/watch/LV-Watch5.webp);
  background-size: cover;
  background-position: center;
  color: #fff;
}

@media screen and (max-width:650px){
    .icon{
      opacity: 0;
    }
}