*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
}
header#header{
    position: relative;
    z-index: 1;
}
header#header .logo{
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #19110b;
    font-weight: bolder;
    /* border: 1px solid gray; */
}
header#header nav{
    position: absolute;
    top: 0;
    /* border: 1px solid gray; */
}
header#header .contactUs{
    position: absolute;
    right: 0;
    top: 0;
    /* border: 1px solid gray; */
    padding: 16px 22px;
}
header#header nav .menu-icon{
    display: inline-flex;
    padding: 16px;
    font-size: 24px;
    line-height: 28px;
    color: #19110b;
    /* border: 1px solid gray; */
}
header#header nav .menu-icon .menu-bar{
    position: absolute;
    left: 0;
    top: 59px;
}
header#header nav .menu-icon > i:hover{
    scale: 1.1;
    font-weight: bold;
}
header#header nav .menu-icon > span{
    font-size: 14px;
    padding-left: 5px;
}
header#header nav {
    position: absolute;
    top: 0;
    display: flex;
}
header#header nav  .mainMenu{
    display: none;
    position: relative;
    flex-direction: column;
    font-family: "Louis Vuitton Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #19110b;
    /* height: 100vh; */
    background-color: white;
    overflow-y: visible;
}
header#header nav .menu-icon:hover .mainMenu{
    display: flex;
}
header#header nav  .mainMenu .main{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    padding: 16px 0;
    padding-left: 10px;
    border: 0.1px solid gray;
}
header#header nav  .mainMenu .main:hover{
    background-color: rgb(15,15,15,0.2);
}
header#header nav  .mainMenu .main .subMenu{
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    left: calc(25vw);
    flex-direction: column;
    color: #19110b;
    background-color: white;
}
header#header nav  .mainMenu .main .subMenu .sub{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    padding: 16px 0;
    padding-left: 10px;
    border: 0.1px solid gray;
    border-left-color: transparent;
}
header#header nav  .mainMenu .sub:hover{
    background-color: rgb(15,15,15,0.2);
}
header#header nav  .mainMenu .main .subMenu .sub .superMenu{
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    left: calc(25vw - 2px);
    flex-direction: column;
    color: #19110b;
    background-color: white;
}
header#header nav  .mainMenu .main .subMenu .sub .superMenu .super{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    padding: 16px 0;
    padding-left: 10px;
    border: 0.1px solid gray;
    border-left-color: transparent;
    text-decoration: none;
    color: #19110b;
}
header#header nav  .mainMenu .super:hover{
    background-color: rgb(15,15,15,0.2);
}
header#header nav  .mainMenu .main > .open-icon:hover .subMenu{
    display: flex;
}
header#header nav  .mainMenu .main .sub > .open-icon:hover .superMenu{
    display: flex;
}

header#header span{
    padding-right: 5px;
}
header#header b{
    padding-right: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    /* border: 2px solid blue; */
}

header#header nav .search-icon{
    display: inline-flex;
    padding: 16px;
    font-size: 24px;
    line-height: 28px;
    color: #19110b;
    /* border: 1px solid gray; */
}
header#header nav .search-icon > i:hover{
    scale: 1.1;
    font-weight: bold;
}
header#header nav .search-icon > span{
    font-size: 14px;
    padding-left: 5px;
}
header#header nav .search-icon .search-bar{
    display: none;
    position: absolute;
    left: 0;
    top: 57px;
    justify-content: center;
    width: 100vw;
    padding: 16px 0;
    background-color: rgb(15,15,15,0.3);
}
header#header nav .search-icon .search-bar section{
    display: flex;
    justify-content: stretch;
    height: 2rem;
    border: 1px solid lightgray;
}
header#header nav .search-icon .search-bar section input{
    width: calc(50vw - 32px);
    border-style: none;
}
header#header nav .search-icon .search-bar section button{
    width: 32px;
    border-style: none;
}
header#header nav .search-icon:hover .search-bar{
    display: flex;
}

@media screen and (max-width:64rem){
    header#header .contactUs span:nth-child(3){
        display: none;
    }
}
@media screen and (max-width:48rem){
    header#header .contactUs{
        display: none;
    }
    header#header .logo{
        font-size: 26px;
    }
    header#header nav .menu-icon > span{
        display: none;
    }
    header#header nav {
        display: flex;
        width: 100vw;
        justify-content: space-between;
    }
    header#header nav  .mainMenu{
        font-size: 16px;
        line-height: 20px;
    }
    header#header nav .search-icon > span{
        display: none;
    }
}